<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>BS109_MailBoxWebService_Web</display-name>

	<filter>
		<display-name>BS109_MailBoxWebService_Web</display-name>
		<filter-name>GracefulShutdownRestFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.generic.rest.gracefulshutdown.GracefulShutdownRestFilter</filter-class>
		<init-param>
			<param-name>lbCookieSuffix</param-name>
			<param-value>BSI109_MailboxWebServiceApplication</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>GracefulShutdownRestFilter</filter-name>
		<servlet-name>HealthCheckServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>GracefulShutdownRestFilter</filter-name>
		<servlet-name>ServiceImplDelegate</servlet-name>
	</filter-mapping> 
	
	<servlet>
		<servlet-name>ServiceImplDelegate</servlet-name>
		<servlet-class>com.ibm.ws.webservices.engine.transport.http.WebServicesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<description>Servlet requested by the load balancer to see whether connections to CBusIms and DB2 are healthy.</description>
		<servlet-name>HealthCheckServlet</servlet-name>
		<servlet-class>com.abnamro.nl.channels.service.mailbox.implementation.health.HealthCheckServlet</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>HealthCheckServlet</servlet-name>
		<url-pattern>/healthcheck.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServiceImplDelegate</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Health</web-resource-name>
			<url-pattern>/healthcheck.html</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Health</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<description>Health</description>
		<role-name>Health</role-name>
	</security-role>
	
	<ejb-ref>
		<ejb-ref-name>ejb/ContentService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.abnamro.solution.generic.library.content.ejbclient.ContentServiceHome</home>
		<remote>com.abnamro.solution.generic.library.content.ejbclient.ContentService</remote>
	</ejb-ref>
	
	<resource-ref>
		<res-ref-name>jdbc/sessionstore</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref>
		<res-ref-name>jdbc/bankmailplus</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>	

</web-app>
