<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>BA509_BankMailApplication_Web</display-name>
	<filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>TrimFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.trim.TrimFilter</filter-class>
	</filter>
	<filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>UrlBlockingFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.urlblocking.UrlBlockingFilter</filter-class>
	</filter>
	 <filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>GracefulShutdownRestFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.generic.rest.gracefulshutdown.GracefulShutdownRestFilter</filter-class>
		<init-param>
			<param-name>lbCookieSuffix</param-name>
			<param-value>BA509_BankMail_BPApplication</param-value>
		</init-param>
	</filter>
	<filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>ApplicationServiceLimiterRestFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.asl.ApplicationServiceLimiterRestFilter</filter-class>
	</filter>
	<filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>UrlEncoderFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.urlencoder.UrlEncoderFilter</filter-class>
	</filter>
	<filter>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<filter-name>ManagementInformationFilter</filter-name>
		<filter-class>com.abnamro.nl.channels.managementinformation.ManagementInformationFilter</filter-class>
	</filter>

    <filter-mapping>
		<filter-name>TrimFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UrlBlockingFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
	</filter-mapping>
    <filter-mapping>
		<filter-name>UrlEncoderFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ManagementInformationFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
	</filter-mapping>
    <filter-mapping>
        <filter-name>GracefulShutdownRestFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ApplicationServiceLimiterRestFilter</filter-name>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
    </filter-mapping>
	<filter-mapping>
		<filter-name>GracefulShutdownRestFilter</filter-name>
		<servlet-name>HealthCheckServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationServiceLimiterRestFilter</filter-name>
		<servlet-name>HealthCheckServlet</servlet-name>
	</filter-mapping>

    <servlet>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.abnamro.nl.channels.restservices.application.BankmailPolicyApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

	<servlet>
		<description>Servlet requested by the load balancer to see whether connections to CBusIms and DB2 are healthy.</description>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<servlet-name>HealthCheckServlet</servlet-name>
		<servlet-class>com.abnamro.nl.channels.restservices.health.HealthCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<servlet-name>RestErrorServlet</servlet-name>
		<servlet-class>com.abnamro.nl.channels.errorservlet.ErrorServletRest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HealthCheckServlet</servlet-name>
		<url-pattern>/healthcheck.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestErrorServlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/error</location>
	</error-page>

	<!-- Security constraint for 'DenyAll'. Do not change and leave in-tact -->
	<security-constraint>
		<display-name>BA509_BankMailApplication_Web</display-name>
		<web-resource-collection>
			<web-resource-name>DenyAll</web-resource-name>
			<description>Deny All group</description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>DenyAll</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ManageBankmail</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ManageBankmail</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Health</web-resource-name>
			<url-pattern>/healthcheck.html</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Health</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Error</web-resource-name>
			<url-pattern>/error</url-pattern>
			<url-pattern>/error/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Error</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-role>
        <description>ManageBankmail</description>
		<role-name>ManageBankmail</role-name>
	</security-role>
	<security-role>
        <description>Health</description>
		<role-name>Health</role-name>
	</security-role>
	<security-role>
        <description>DenyAll</description>
		<role-name>DenyAll</role-name>
	</security-role>
	<security-role>
        <description>Error</description>
		<role-name>Error</role-name>
	</security-role>



	<ejb-ref>
		<ejb-ref-name>ejb/SessionStoreServiceBeanV2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.abnamro.nl.infra.service.sessionstore.ejb.SessionStoreServiceRemote</home>
		<remote>com.abnamro.nl.infra.service.sessionstore.ejb.SessionStoreServiceRemote</remote>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>ejb/EndToEndSessionStoreServiceBeanV2</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.abnamro.nl.infra.service.sessionstore.ejb.EndToEndSessionStoreServiceRemote</home>
		<remote>com.abnamro.nl.infra.service.sessionstore.ejb.EndToEndSessionStoreServiceRemote</remote>
	</ejb-ref>

	<ejb-ref>
		<ejb-ref-name>ejb/ContentService</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.abnamro.solution.generic.library.content.ejbclient.ContentServiceHome</home>
		<remote>com.abnamro.solution.generic.library.content.ejbclient.ContentService</remote>
	</ejb-ref>

</web-app>
