<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
	<interceptors>
        <class>com.abnamro.nl.channels.rest.interceptors.responseinterceptors.SuppressResponseCacheInterceptor</class>
        <class>com.abnamro.nl.channels.rest.interceptors.responseinterceptors.accesslog.RestAccessLogInterceptor</class>
        <class>com.abnamro.nl.channels.rest.interceptors.requestinterceptors.RequestValidator</class>
        <class>com.abnamro.genj.securitycontext.rest.interceptors.requestinterceptors.SecurityContextEnricher</class>
        <class>com.abnamro.nl.logging.log4j2.interceptors.LogInterceptor</class>
    </interceptors>
</beans>

